*{
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  margin: 12px;
  padding: 12px;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  width: 360px;
  background-color: rgb(122, 188, 253);
  padding: 1px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0)
}

.horizontal-menu{
  list-style-type: none;
  padding: 0;
  margin: 12px 0 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.horizontal-menu li{
  display: inline;
  background-color: #c997c6;
  padding: 8px;
  border-radius: 12px;
}

.horizontal-menu a{
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  /* transition: background-color 0.2s ease-in-out; */
}